*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;

}

.main-container{
    background-color: white;
    height: 300vh;
}

.container{
    /* background-color: yellow; */
    max-width: 1200px;
    margin: auto;
}

.navbar-container{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px rgb(55, 0, 255) solid; */

}

.right-nav-content li{
    text-decoration: none;
    display: flex;
    gap:10px;
    font-size: 14px;
    font-weight: 400px;
    color: blue;
    align-items: center;

}

.right-nav-content{
    display: flex;
    gap:10px;
    font-weight: bold;
    align-items: center;
}


.left-nav-content li{
    text-decoration: none;
    display: flex;
    /* border: 1px solid rgb(72, 0, 255); */
    gap:10px;
    width: 20%;
    justify-content: space-around;
}

.flipkart-btn{
    
    background-color: #FFE515;
    border: white;
    padding: 16px 30px;
    border-radius: 10px;
    color: black;
    font-size: small;
    font-weight: 600;
}
.flipkart-btn img{
width: ;
height: ;
}


.travel-btn img{

}
.travel-btn{
    background-color: rgb(154, 147, 147);
    padding: 16px 30px;
    border: white;
    border-radius: 10px;
    color: black;
    font-size: small;
    font-weight: 600;
}


.mainbody{
     padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}



.search-bar {
display: flex;
align-items: center;
/* justify-content: space-between; */

} 

.search-bar i{
    display: flex;
    align-items: center;
    position: relative;
    left:20px;
    /* gap:50px; */
    padding-left: 20px;
}

.search-bar input{
    border: 2px blue solid;
   width:800px;
   height:30px;
    border-radius: 10px;
   /* margin:10px; */
   padding-left:40px;
   cursor:pointer;
   
   display:flex;
   align-items: center;
   /* gap:20px; */
}

.right-search-bar {
    border: 1px white solid;
    width: 300px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap:10px;
    /* background-color: #FFE515; */
    

}

.login{
    display: flex;
    padding:4px;
    /* gap:1px; */
align-items: center;
}

.cart{
    display: flex;
    padding:4px;
    /* gap:1px; */
    align-items: center;
}
.more{
    display: flex;
    padding:4px;
    /* gap:1px; */
}
