.container{
    background-color: greenyellow;
    border: 2px dashed white;
    padding:40px;
}
.box{
    /* display: block;     /*hows in block top to bottom    display: inline shows in one line ; */
    display:inline-block;       /* shows in inline block*/
    background-color: red;
    color: white;
    margin: 5px;
    padding: 40px;    /* top bottom left right*/
    border-radius: 20px;
    border: 2px solid white ;
    width: 300px;
    height: 100px;
}